<div class="grid">
  <div class="col">
    <p-card header="School Bulletins">
      <p-toolbar>
        <div class="p-toolbar-group-start">
          <p-button class="mr-2" label="New" icon="pi pi-plus"/>
          <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input pInputText placeholder="Search" />
        </span>
        </div>
      </p-toolbar>
    </p-card>
  </div>
  <div class="col">
    <p-card header="Simple Card">
      <p class="m-0">
        Lorem ipsum dolor sit amet...
      </p>
    </p-card>
  </div>
</div>
